.congratsContainer {
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
}

.congratsTitle {
  font-size: larger;
  font-weight: 500;
}

.Content {
  height: 450px;
  width: 400px;
  background-color: aqua;
}

.imgprofile,
.imgwatch {
  margin-top: 20px;
}

@media (max-width: 576px) {
  .congratsContainer {
    padding: 2rem;
  }

  .Content {
    height: auto;
    width: 100%;
  }

  .imgprofile,
  .imgwatch {
    margin-top: 10px;
  }
}
